---
import Icon from "astro-icon"

const today = new Date()
---

<footer
  class="footer items-center mt-auto p-4 bg-base-100 text-base-content gap-4"
>
  <div class="items-center grid-flow-col">
    <p>Copyright © {today.getFullYear()} duskmoon314 - All right reserved</p>
  </div>
  <div class="items-center grid-flow-col">
    <p>Powered by</p>
    <a href="https://astro.build/">
      <Icon class="h-5" name="vscode-icons:file-type-astro" />
    </a>
    <p>and</p>
    <a href="https://daisyui.com/">
      <img class="h-5" src="/daisyui.svg" />
    </a>
  </div>
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="mailto:kp.campbell.he@duskmoon314.com" class="text-inherit">
      <Icon alt="email" class="w-6" name="icon-park-outline:mail-edit" />
    </a>
    <a href="https://github.com/duskmoon314" class="text-inherit">
      <Icon alt="GitHub" class="w-6" name="icon-park-outline:github-one" />
    </a>
    <a href="https://github.com/duskmoon314/LoD-frontend" class="text-inherit">
      <Icon alt="source code" class="w-6" name="icon-park-outline:file-code" />
    </a>
  </div>
</footer>
