---
import { localizePath } from "astro-i18next"

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  menu?: boolean
}

const { href, class: className, menu, ...props } = Astro.props as Props
const isActive =
  (["/", "/en/"].includes(href!.toString()) &&
    ["/", "/en", "/en/"].includes(Astro.url.pathname)) ||
  (!["/", "/en/"].includes(href!.toString()) &&
    Astro.url.pathname.startsWith(localizePath(href!.toString())))
---

{
  menu ? (
    <li>
      <a href={href} class:list={[className, { active: isActive }]} {...props}>
        <slot />
      </a>
    </li>
  ) : (
    <a
      href={href}
      class:list={[
        className,
        "tab tab-lg tab-lifted",
        { "tab-active": isActive },
      ]}
      {...props}
    >
      <slot />
    </a>
  )
}
